
body{
    overflow-x: hidden;
}

/* nav bar 1st */
nav{
    justify-content: space-between;
    cursor: pointer;
}
/* search box  */
.inputbox {
    
    border: 2px solid grey;
    border-radius: 20px;
 
}
/* this is search bar outline */
 .col_search
{
    height:30px;
    width:10%;
    
}
.inputbox input {
    border: none;
    outline: none;
    flex: 1;
    color: grey;
}

.inputbox i {
    color: grey;
    cursor: pointer;
}

.inputbox input::placeholder {
    color: grey;
}


i{
    color: grey;
}
.fa-

/* img changing */


.thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.thumbnails img {
    width: 80px;
    height: 80px;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid transparent;
}

.thumbnails img.selected {
    border: 2px solid teal;
}


/* modal  */
.modal-header {
    border-bottom: none;
}

.modal-body {
    border-top: none;
}


/* add to cart css card popup  */
.collapse {
    width: 100%; 
    /* Ensures it takes up the full width */
    margin-top: 10px; /* Adds space above the collapsible section */
    z-index: 1000;
}

.card-body {
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

.box1{
    height: 150px;
    width:10px;
}

